# PostgreSQL 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=logcore
POSTGRES_HOST=
POSTGRES_PORT=

# MongoDB
MONGO_URI=
MONGO_DB=
MONGO_COLLECTION=

# JWT
JWT_SECRET=nexo_secret_key
JWT_EXPIRATION=3600